---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="About Jamie"
	pubDate={new Date('August 08 2021')}
>
	<p>
		Welcome to Jamie's Notes. This is a personal space for writing about software,
		technology, and other things that I find interesting.
	</p>
	<p>
		You can find me on <a href="https://github.com/jamietre">GitHub</a>.
	</p>
</Layout>
