---
import FeedPostDate from "./FeedPostDate.astro";
const {data, body, id} = Astro.props.post;
const {index} = Astro.props;
import {t} from '@/i18n/utils'
import getUrl from "@/utils/getUrl";
---

<div class="mt-2 mb-4">
  <p
    class="break-words first-letter tracking-wide first-letter:font-semibold first-letter:text-2xl line-clamp-2"
    set:html={body
      .replace(/^#+\s*/gm, "")
      .replace(/!\[.*?\]\(.*?\)/g, "")
      .replace(/\[(.*?)\]\((.*?)\)/g, '<a href="$2" class="underline font-normal">$1</a>')
    }
  />
  <p class="flex items-center justify-between text-sm">
    <FeedPostDate date={data.date} index={index}/>
    <a class="hover:text-skin-active text-sm border rounded py-1 px-2" href={getUrl("/feed/") + id}>{t('home.readMore')}</a>
  </p>
</div>
